<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.corechatoperationconfigapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoreChatOperationConfigApp"
        android:usesCleartextTraffic="true">

        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.HomeActivity"/>
        <activity android:name=".activity.DashboardTabConfigActivity"/>
        <activity android:name=".activity.ChatConversationBarConfigActivity"/>
        <activity android:name=".activity.ChatCardViewConfigActivity" />
        <activity android:name=".activity.ChatButtonConfigActivity" />
        <activity android:name=".activity.ChatActivity" />
        <activity android:name=".activity.ChatBubbleConfigActivity" />
        <activity android:name=".activity.SideMenuConfigActivity" />
        <activity android:name=".activity.BottomMenuConfigActivity" />
        <activity android:name=".activity.IconsConfigActivity" />
        <activity android:name=".activity.SplashPreviewActivity" />
        <activity android:name=".activity.SplashConfigActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ColorFontSizeConfigActivity" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>